:root {
    --course-explorer-card-x-padding: 25px;
    --course-card-border-radius: 15px
}

.block_course_explorer {
    border: none !important;
    .card-title {
        display: none !important;
    }
    .dropdown-menu .dropdown-item:hover {
        color: white !important;
    }
}

#cebMainWrapper {
    padding-top: 0;
}

.ceb-search input {
    width: 100%;
}

.ceb-search .btn {
    margin-top: 1px;
}

.ceb_res_container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card.course-card {
    padding: 0;
    border: none;
    border-radius: var(--course-card-border-radius);
}
.card.course-card:focus-visible {
    padding: 2px;
}

.course-card__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 0;
}
.course-card__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    //background: linear-gradient(180deg,#37134d00 25%,#37134dbf 60%, #37134df5 70%);
    background: linear-gradient(180deg,rgba(85,28,119,0) 0%,rgb(85,28,119) 81%);
    opacity: 0.9;
    transition: opacity 0.2s ease !important;
}
.course-card:hover .course-card__background {
    opacity: 0.65;
}

.course-card__image img {
    height: 100%;
    transform: scale(1.1);
    transition: transform 0.4s ease;
}
.course-card:hover .course-card__image img {
    transform: scale(1);
    transition: transform 0.4s ease;
}

.course-card__label.mc-original {
    position: absolute;
    top: 20px;
    right: 15px;
    background-color: #ebff03;
    padding: 4px 5px;
    border-radius: 3px;
    font-size: 10px;
    z-index: 2;
}
.course-card__label.favourite {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 8px;
    //border-radius: 50%;
    //background-color: white;
    z-index: 2;
    img {
        width: 22px;
        filter: brightness(100);
    }
}

.course-card__content {
    margin-bottom: 20px;
    color: #f0e9e5;
    z-index: 2;
    * {
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .course-card__sender-name {
        font-size: 16px;
    }
    .course-card__title {
        color: white;
        font-size: 26px;
        line-height: 34px;
        font-weight: 600;
    }
    .course-card__quick-facts {
        margin-top: 8px;
        width: 100%;
        column-gap: 8px;
        .fa-star {
            margin-right: 2px;
        }
        i {
            font-size: 1.3rem;
        }
    }
    .course-card__description {
        color: white;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 1.5rem;
    }
    .course-card__tags {
        column-gap: 8px;
        i {
            font-size: 1.3rem;
        }
    }
    .course-card__actions {
        position: relative;
        bottom: 0;
        justify-content: flex-end;
        .course-card__action-button {
            padding: 0;
        }
    }
}

.ceb-filter-dropdown-container {
    grid-template-areas: "categories topics targetgroups";
}
@media screen and (max-width: 768px) {
    .ceb-filter-dropdown-container {
        grid-template-areas: "categories" "topics" "targetgroups";
    }
}
.ceb-dropdown-categories {
    grid-area: categories;
}
.ceb-dropdown-topics {
    grid-area: topics;
}
.ceb-dropdown-targetgroups {
    grid-area: targetgroups;
}

.course-card__action-button.primary {
    padding: 10px 18px;
    background-color: #f6688e;
    color: #252131;
    border: none;
    font-size: 1rem;
}
.course-card__action-button.primary:hover {
    background-color: #b84b68;
}

.course-card__action-button.secondary {
    position: static;
}

.course-card__action-button.secondary > i {
    background: transparent;
    color: white;
    border: 1px solid white;
}
.course-card__action-button.secondary:hover > i {
    background: white;
    color: black;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/
@supports (aspect-ratio:auto) {
    .card-content {
        aspect-ratio: 0.8;
    }
}

.card-content {
    height: unset;
    transition: unset;
    transform-style: unset;
    perspective: unset;
}

/* Position the front and back side */
.card-front {
    display: flex;
    align-items: end;
}

.card-front {
    height: 100%;
    border-radius: var(--course-card-border-radius);
}

.ceb-modal .close-button button {
    height: 35px;
    width: 35px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ceb-modal .close-button i {
    margin-left: 1px;
}

.left-column .course-price button {
    padding-right: 1.8rem;
}
.course-price button > i {
    font-size: 1.1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5px;
}

.modal-dynamic-content .right-column {
    flex: 1;
    padding: 0 2rem;
}
