@font-face {
  font-family: 'SourceSans3';
  src: url([[font:theme|SourceSans3-Ligth.ttf]]) format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'SourceSans3';
  src: url([[font:theme|SourceSans3-Regular.ttf]]) format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'SourceSans3';
  src: url([[font:theme|SourceSans3-Medium.ttf]]) format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'SourceSans3';
  src: url([[font:theme|SourceSans3-SemiBold.ttf]]) format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'SourceSans3';
  src: url([[font:theme|SourceSans3-Bold.ttf]]) format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url([[font:theme|SourceSansPro-Ligth.ttf]]) format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url([[font:theme|SourceSansPro-Regular.ttf]]) format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url([[font:theme|SourceSansPro-Medium.ttf]]) format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url([[font:theme|SourceSansPro-SemiBold.ttf]]) format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url([[font:theme|SourceSansPro-Bold.ttf]]) format('truetype');
  font-style: normal;
  font-weight: 700;
}