{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page footer.

    Copy taken from theme_boost

    Adding hard coded links to imprint and privacy policy,
    which are located within local_iubh_generic.
}}
<footer id="page-footer">
    <div class="wp-block-wavy-wavy-divider alignfull has-custom-mc-lila-background-color has-background"><svg fill="none" role="separator" viewBox="0 0 100 100" preserveAspectRatio="none" aria-orientation="horizontal" aria-hidden="true" style="height:100px;width:100%;display:block"><path style="transition:all .5s ease;opacity:1" fill="#551C77" d="M 0,60 Q 50,13.200000000000003 100,20 V 100 H 0 Z"></path></svg></div>
    <div class="footer-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center">
                <figure class="figure">
                    <a href="https://mintcampus.org">
          <img loading="lazy" decoding="async" src="/theme/mint/pix/round-logo.png" alt="Logo MINT-Campus" class="figure-img img-fluid" width="100" height="100" title="MINT-Campus-Logo - Link zur Startseite">
                    </a>
                </figure>
                </div>
                <div class="col-lg-6 d-flex align-items-center justify-content-end">
                <div class="text-right">
                    <span class="mb-0 mr-4">Folgt uns:</span>
                        <a class="media-icon aabtn" href="https://www.linkedin.com/company/mintcampusde" target="_blank">
                            <img src="/theme/mint/pix/linkedin.svg" alt="linkedin">
                        </a>
                        <a class="media-icon aabtn" href="https://www.youtube.com/channel/UCjo456vyGJ9pK-yf6nO1ZWw" target="_blank">
                            <img src="/theme/mint/pix/youtube.svg" alt="youtube">
                        </a>
                        <a class="media-icon aabtn" href="https://www.instagram.com/mintcampus.lernplattform/" target="_blank">
                            <img src="/theme/mint/pix/instagram.svg" alt="instagram">
                        </a>
                    </ul>
                </div>
                </div>
            </div>

            <div class="row py-4">
                <div class="col-lg-6">
                <h4 class="font-weight-bold">Über den MINT-Campus</h4>
                <p>Der MINT-Campus ist die Lernplattform für die MINT-Community. Der Campus bietet kostenfreie Lernangebote und fokussiert sich auf Themen der Projekt- und Netzwerkarbeit, der MINT-Didaktik und auf fachliche MINT-Inhalte.<br><strong>Unsere Vision:</strong> MINT-Bildung in Deutschland ist attraktiv für jede:n und erreicht Menschen in allen Lebensphasen.</p>
                </div>
                <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                    <p class="font-weight-bold"><a href="https://mintcampus.org/ueber-uns/">Über uns</a></p>
                    <ul class="list-unstyled">
                        <li><a href="https://mintcampus.org/ueber-uns/">Projekt MINT-Campus</a></li>
                        <li><a href="https://mintcampus.org/unsere-partnerinnen-netzwerke/">Partner:innen und Netzwerke</a></li>
                        <li><a href="https://mintcampus.org/lernanbietende/">Für Lernanbietende</a></li>
                    </ul>
                    </div>
                    <div class="col-lg-6">
                    <p class="font-weight-bold"><a href="https://mintcampus.org/news/">News</a></p>
                    <ul class="list-unstyled">
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="https://mintcampus.org/news/publikationen/">Publikationen</a></li>
                        <li><a href="https://mintcampus.org/roadmap/">Roadmap</a></li>
                        <li><a href="https://mintcampus.org/news/newsletter/">Newsletter</a></li>
                    </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                    <p class="font-weight-bold">Lernangebote</p>
                    <ul class="list-unstyled">
                        <li><a href="/alle-lernangebote/">Alle Lernangebote</a></li>
                        <li><a href="https://mintcampus.org/lieblingsthemen/">Lieblingsthemen</a></li>
                        <li><a href="https://mintcampus.org/alle-lernangebote/schwerpunkte/">Schwerpunkte</a></li>
                        <li><a href="https://mintcampus.org/empfehlungen-fuer-lehrkraefte/">Empfehlungen für Lehrkräfte</a></li>
                    </ul>
                    </div>
                    <div class="col-lg-6">
                    <p class="font-weight-bold">Hilfe &amp; Support</p>
                    <ul class="list-unstyled">
                        <li><a href="https://mintcampus.org/kontakt/">Kontakt</a></li>
                        <li><a href="https://mintcampus.org/glossar/">Glossar</a></li>
                        <li><a href="https://mintcampus.org/faq-mint-campus/">FAQ</a></li>
                        <li><a href="https://mintcampus.org/barrierearmut/">Barrierearmut</a></li>
                        <li><a href="https://mintcampus.org/leichte-sprache/">Leichte Sprache</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row py-4">
            <div class="col-lg-6">
            <p class="small">Made with <img decoding="async" width="20" src="https://statics.teams.cdn.office.net/evergreen-assets/personal-expressions/v2/assets/emoticons/heartpurple/default/60_f.png?v=v20" alt="💜"> by MINT-Campus-Team © 2024 <a href="https://matrix-gruppe.de/matrix-gemeinnuetzig/" target="_blank" rel="noopener noreferrer">matrix</a></p>
            </div>
            <div class="col-lg-6 text-right">
            <p class="small"><a href="https://mintcampus.org/kontakt/">Kontakt</a> | <a href="https://mintcampus.org/datenschutzerklaerung">Datenschutz</a> | <a href="https://mintcampus.org/nutzungsbedingungen/">Nutzungsbedingungen</a> | <a href="https://mintcampus.org/impressum/">Impressum</a></p>
            </div>
        </div>

        <p style="visibility: hidden;"><a href="https://troet.cafe/@mintcampusde" rel="me">&nbsp;</a></p>
        </div>
    </div>
    <div class="sponsors">
        <div class="image-wrapper">
            <a href="https://matrix-gruppe.de/matrix-gemeinnuetzig/" target="_blank">
                <img src="/theme/mint/pix/Logoleiste-Matrix.png" alt="Matrix Logo">
            </a>
            <a href="https://www.stifterverband.org/" target="_blank">
                <img src="/theme/mint/pix/Logoleiste-Stifterverband-croped.png" alt="Stifterverband Logo">
            </a>
            <a href="https://www.stiftung-kinder-forschen.de/" target="_blank">
                <img src="/theme/mint/pix/kids_logo_footer.png" alt="Logo Stiftung Kinder forschen">
            </a>
        </div>
        <div class="image-wrapper">
            <a href="https://www.bmbf.de/bmbf/de/home/home_node.html" target="_blank">
                <img src="/theme/mint/pix/BMBF.png" alt="BMBF Logo">
            </a>
        </div>
    </div>
    {{{ output.standard_end_of_body_html }}}
</footer>

<style>
.footer-container .container-fluid,
.footer-container .container-fluid a,   .footer-container .container-fluid h4 {
    max-width: 1200px;
    color: white;
}

.font-weight-bold a {
    font-weight: 700;
}
.footer-container .media-icon  img{
    width: 32px;
    height: 32px;
    margin-right: 10px
}

.footer-container p, .footer-container a, .footer-container span {
    font-size: 18px;
}

#page-footer .footer-container {
    padding-bottom: 0px;
    padding-top: 0px;
}
</style>
{{#js}}
    require(['theme_boost/footer-popover'], function(FooterPopover) {
    FooterPopover.init();
    });
{{/js}}