<div class="nav-link mode-switch" aria-label="Tag und Nacht Modus" data-mode="" tabindex="0">
    <div class="planet"></div>
    <div class="elements">
        <svg version="1.1" viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg">
            <circle cx="125" cy="125" r="80" />
        </svg>
        <svg version="1.1" viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg">
            <circle cx="125" cy="125" r="80" />
        </svg>
        <svg version="1.1" viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg">
            <circle cx="125" cy="125" r="80" />
        </svg>
        <svg version="1.1" viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg">
            <circle cx="125" cy="125" r="80" />
        </svg>
        <svg version="1.1" viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg">
            <circle cx="125" cy="125" r="80" />
        </svg>
        <svg version="1.1" viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg">
            <circle cx="125" cy="125" r="80" />
        </svg>
        <svg version="1.1" viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg">
            <circle cx="125" cy="125" r="80" />
        </svg>
        <svg version="1.1" viewBox="0 0 250 250" xmlns="http://www.w3.org/2000/svg">
            <circle cx="125" cy="125" r="80" />
        </svg>
    </div>
</div>
<script>
    const btn = document.querySelector('#usernavigation .switch-wrapper .mode-switch');
    btn.setAttribute('data-mode', currentMode);
</script>